[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "gifsicle/gifsicle"]
	path = gifsicle/src
	url = https://github.com/kohler/gifsicle.git
[submodule "pngquant/src"]
	path = pngquant/src
	url = https://github.com/pornel/pngquant.git
[submodule "mozjpeg/src"]
	path = mozjpeg/src
	url = https://github.com/mozilla/mozjpeg.git
[submodule "jpegoptim/src"]
	path = jpegoptim/src
	url = https://github.com/tjko/jpegoptim.git
[submodule "svgcleaner/src"]
	path = svgcleaner/src
	url = https://github.com/RazrFalcon/svgcleaner.git
[submodule "oxipng/oxipng"]
	path = oxipng/oxipng
	url = https://github.com/oxipng/oxipng.git
[submodule "webp/src"]
	path = webp/src
	url = https://github.com/webmproject/libwebp.git
